<% tranheadpinv.trans.each_with_index do |ptran, i| %>
  <tr>
    <% if i==0 %>  
      <td><%= tranheadpinv.trref %></td>
      <td><%= tranheadpinv.trotherref %></td>
      <td><%= tranheadpinv.trdate %></td>
      <td><%= tranheadpinv.supplier.supcode %></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
    
    <td><%= ptran.nominal.try(:code) %></td>
    <td><%= ptran.case.try(:reference) %></td>
    <td><%= ptran.try(:trdetails) %></td>
    <td><%= ptran.try(:netamount) %></td>
    <td><%= ptran.vat.try(:vatcode) %></td>
    <td><%= ptran.try(:vatperc) %></td>
    <td><%= ptran.try(:vatamount) %></td>
    <td><%= ptran.try(:tramount) %></td>

    <% if i==0 %>
      <%= render_specific_data_for tranheadpinv %>
    <% end %>
  
  </tr>  
<% end %>
