<tr>
  <td><%= allocation.created_at.to_date %></td>
  <td><%= allocation.invoice_tran.tranhead.trref %></td>
  <td><%= allocation.invoice_tran.trdetails %></td>
  <td><%= allocation.invoice_tran.nominal.code %></td>
  <td><%= allocation.invoice_tran.tranhead.case.reference %></td>
  <td><%= allocation.invoice_tran.tranhead.case.client.info %></td>
  <td><%= allocation.amount %></td>
  <td><%= allocation.vat %></td>
  <td>
    <%= link_to('Delete', allocation, method: :delete) if allocation.can_delete? %>
  </td>
</tr>