<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">X</button>
      <h4 class="modal-title">Allocate</h4>
    </div>

    <div class="modal-body">
      <%= form_for @batch_allocation, url: allocations_path, html: { class: 'form-horizontal' } do |f| %>
        <div class="row">
          <div class="col-md-2">
            Amount Received
          </div>
          <div class="col-md-2">
            <%= @batch_allocation.receipt_tran.tramount %>
          </div>
          <div class="col-md-1">
            Allocated
          </div>
          <div class="col-md-2">
            <%= @batch_allocation.receipt_tran.allocated %>
          </div>
          <div class="col-md-2">
            Amount to Allocate
          </div>
          <div class="col-md-2">
            <%= @batch_allocation.receipt_tran.tramount - @batch_allocation.receipt_tran.allocated %>
          </div>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>Date</th>
            <th>Invoice #</th>
            <th>Details</th>
            <th>Nominal</th>
            <th>Case Ref.</th>
            <th>Client</th>
            <th>Fees</th>
            <th>Outlay</th>
            <th>Total</th>
            <th>To Alloc</th>
            <th>Alloc Amount</th>
            <th>Allocated</th>
            <th>VAT</th>
          </tr>
          </thead>
          <%= render partial: 'sales_invoice_tran', collection: @invoice_trans %>
        </table>
      <% end %>
    </div>

  </div>
</div>