<tr>
  <td><%= sales_invoice_tran.tranhead.trdate %></td>
  <td><%= sales_invoice_tran.tranhead.trref %></td>
  <td><%= sales_invoice_tran.trdetails %></td>
  <td><%= sales_invoice_tran.nominal.code %></td>
  <td><%= sales_invoice_tran.tranhead.case.reference %></td>
  <td><%= sales_invoice_tran.tranhead.case.client.info %></td>
  <td><%= sales_invoice_tran.netamount %></td>
  <td><%= sales_invoice_tran.outamount %></td>
  <td><%= sales_invoice_tran.tramount %></td>
  <td><%= sales_invoice_tran.to_alloc %></td>
</tr>