<h1>Allocations</h1>
<div class="row">
  <div class="col-md12">
    <%= search_form_for @q, class: 'form-inline' do |f| %>
      <div class="form-group">
        <%= f.label :invoice_tran_tranhead_trref_eq, 'Invoice #' %>
        <%= f.search_field :invoice_tran_tranhead_trref_eq, class: 'form-control' %>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Invoice #</th>
    <th>Details</th>
    <th>Nominal</th>
    <th>Case Ref.</th>
    <th>Client</th>
    <th>Alloc Amount</th>
    <th>VAT</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%= render @allocations %>
  </tbody>
</table>