<h1>Allocations</h1>
<div class="row">
  <div class="col-md12">
    <%= search_form_for @q, class: 'form-inline' do |f| %>
      <div class="form-group">
        <%= f.label :invoice_tran_tranhead_trref_eq, 'Invoice #' %>
        <%= f.search_field :invoice_tran_tranhead_trref_eq, class: 'form-control' %>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'allocation_table' %>