<p id="notice"><%= notice %></p>

<p>
  <strong>Outcode:</strong>
  <%= @outlaytype.outcode %>
</p>

<p>
  <strong>Outdesc:</strong>
  <%= @outlaytype.outdesc %>
</p>

<%= link_to 'Edit', edit_outlaytype_path(@outlaytype) %> |
<%= link_to 'Back', outlaytypes_path %>
