<p id="notice"><%= notice %></p>

<p>
  <strong>Trref:</strong>
  <%= @tranhead.trref %>
</p>

<p>
  <strong>Trdate:</strong>
  <%= @tranhead.trdate %>
</p>

<%= link_to 'Edit', edit_tranhead_path(@tranhead) %> |
<%= link_to 'Back', tranheadclients_path %>
