<div class='container uic-main-border' >
  <div class='coontainer-fluid'>

    <div class="row">
      <div class="col-sm-12 text-xs-center bootstrap-welcome">
        <h1>Office Payments and Receipts</h1>
      </div>
    </div>
    
    <div class="table-responsive" style="float:left; margin-right: 15px;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><small>Bank</small></th>
            <th><small>Cheque No.</small></th>
            <th><small>Date</small></th>
            <th style="width: 350px;"><small>Details</small></th>
            <th><small>Case</small></th>
            <th><small>Supplier</small></th>
            <th><small>Nominal</small></th>
            <th><small>VAT Code</small></th>
            <th><small>VAT %</small></th>
            <th><small>VAT Amt.</small></th>
            <th><small>Net Amount</small></th>
            <th><small>Total Amount</small></th>
          </tr>
        </thead>
      
        <tbody>
          <%= render partial: 'tranhead', collection: @tranhead %>
        </tbody>

      </table>
    </div>  
  </div>
</div>
<br>
<div>
  <%= link_to 'New Nominal Payment', new_tranheads_opnom_path, class: "btn btn-small btn-success" %>
</div>
<div>
  <%= link_to 'New Nominal Receipt', new_tranheads_ornom_path, class: "btn btn-small btn-success" %>
</div>
<br>
<div>
  <%= link_to 'New Supplier Payment', new_tranheads_opsup_path, class: "btn btn-small btn-success" %>
</div>
<div>
  <%= link_to 'New Supplier Receipt', new_tranheads_orsup_path, class: "btn btn-small btn-success" %>
</div>
<br>
<div>
  <%= link_to 'New Case Payment (Disbursement)', new_tranheads_opmat_path, class: "btn btn-small btn-success" %>
</div>
<div>
  <%= link_to 'New Case Receipt', new_tranheads_ormat_path, class: "btn btn-small btn-success" %>
</div>

<div id="allocationModal" class="modal fade" role="dialog"></div>
<div id="allocationListModal" class="modal fade" role="dialog"></div>
